body {
  margin: 0;
  padding: 0;
  background-color: $color-white;
  color: $color-black;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
