.top-banner {
  z-index: -1;
  min-height: 74px;
  background-image: url('../img/bg-banner.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.banner__content {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 23px;
  padding-left: 5px;
  color: $color-white;
  font-size: 20px;
  font-weight: 700;
}

.banner__text {
  margin: 0;
}

.banner__close-btn {
  width: 34px;
  height: 34px;
  padding-left: 7px;
  border: none;
  border-radius: 50%;
  background-color: $color-white;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}
