.btn {
  display: inline-block;
  position: relative;
  padding: 12px 22px;
  border: none;
  background-color: $bg-primary;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  color: $color-white;
  font-size: 20px;
  font-weight: 900;
  text-transform: capitalize;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.15s ease-out;
  }

  &:hover::before {
    background-color: black(0.1);
  }

  &:active::before {
    background-color: black(0.2);
  }
}

// .btn--small {
//   padding: 8px 13px 8px 15px;
//   font-size: 13px;
//   font-weight: 700;
// }

// .btn--std {
//   padding: 12px 22px;
//   font-size: 13px;
//   font-weight: 700;
// }
