$color-black: #000;
$color-white: #fff;

$color-dark: hsl(360, 0, 13);
$color-dark-lighter: hsl(360, 0, 29);

$color-primary: #f9236f;
$color-secondary: #f92346;

$font-primary: "Montserrat", Helvetica, Arial, sans-serif;
$font-secondary: "Bebas Neue", Helvetica, Arial, sans-serif;
